---

heading :
    small : "Digital lessons"
    title : "Circus Street"

meta :
    author      : "Ian Warner"
    description : "Circus Street - digital lessons"
    image       : "portfolio/circusstreet/hub.png"
    subject     : "website"
    title       : "Circus Street - digital lessons"
    type        : "article"

category : Site
date     : 2016-06-07
caption  : "<h3>Circus Street</h3><p>Video e-learning platform</p>"
lang     : en
modified : 2016-06-07
tags     : [ Mobile ]

---

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-4

        %a{ href: "/assets/images/portfolio/circusstreet/CircusStreet.apk" }
            APK