---

stub : index

---

-# Hero Image - Brand - Strap Line - Description
.hero

    -# Full width Image
    .hero__image

        -# Jumbotron Block
        -# @todo Fade the text in as before
        .container

            .row

                .col-md-12

                    -# Jumbotron
                    = codeBlender "jumbotron", "organism",
                        { desc:    :jumbotronDesc,
                          heading: { small: :jumbotronSmall, text: data.config.brand } }

    -# Ethos Block
    -# @todo More emphasis on the columns of text - better typography
    -# @todo Link the text to relevant resources and internal links
    -# @todo Use of imagery / icon to identify to the three core principals
    .container

        .row

            .col-md-12

                -# Blockquote
                = codeBlender "blockquote", "atom",
                    { small: "Understand | Architect | Craft",
                      text:  "Ethos" }

        .row

            .col-md-3

                %p
                    Modern applications are not just about a distinctive design
                    or utilising cutting edge technologies. They are user centric,
                    analytic based, growth machines.

                %p
                    At DryKISS we encourage a research based project cycle, to meet
                    these ever changing UX needs.

            .col-md-3

                %p
                    %strong
                        UNDERSTAND:
                    At DryKISS we want to learn about your user,
                    business and the reasons behind embarking on this new project.

                %p
                    We can create persona, storyboards and initial prototypes to
                    help guide these critical early decisions.

            .col-md-3

                %p
                    %strong
                        ARCHITECT:
                    DryKISS will draft a user centric development approach which
                    can include technology reasoning; product backlog;
                    continuous integration plan; definition of done and sprint milestones.

                %p
                    Social integration, SEO and marketing guidance.

                %p
                    All through the lens of your deadlines and budget.

            .col-md-3

                %p
                    %strong
                        CRAFT:
                    Our crafting is all about rapid feature completion.
                    We want the user to test a story as quickly as possible.

                %p
                    Building from a pattern library, is what we call Atomic
                    Development.

                %p
                    CodeBlender accelerates this process with pre-defined common
                    patterns that can be styled and deployed.

    / -# Portfolio Recent
    / = partial "./template/portfolio/portfolio.recent", locals: { total: 4 }

    -# Services
    .container

        -# Portfolio
        = codeBlender "blockquote", "atom",
            { text:  "Our Services",
              small: "We pride ourselves on offering a full-service, economic and future technology approach." }

        .row

            .services

                .col-md-4

                    %h4 User Experience

                    %p
                        We help brands create valuable experiences across digital
                        channels by focusing on the habits and needs of their audience.
                        Our user experience team will transform the quality of your
                        products, the happiness of your customers and the success of
                        your business.

                .col-md-4

                    %h4 Creativity

                    %p
                        Focused creativity is the engine for all we do. Our
                        cross-platform, and specifically mobile experience makes our
                        approach always flexible, responsive and dynamic. From initial
                        concepts through to final design our creative teams and
                        developers create compelling and unique brand experiences.

                .col-md-4

                    %h4 Development

                    %p
                        By using the best and latest frameworks we are not re-inventing
                        the wheel, but delivering projects based on known processes.
                        This enables us to deliver cutting edge code quickly and within
                        budget.

-# Page
-#     Meta
-#     CSS
-#     Icons
-#     Header
-#     Sections
-#         Hero
-#             Cover Image
-#             Jumbotron
-#         Work
-#             Articles
-#                 9 Peices - i.e. Portfolio / Shopping
-#                     Indiviudal Links to Details Page
-#             Button Link to other items
-#         Feed
-#             Twitter
-#             Journal
-#     Footer
-#         X Columns
-#         Privacy Links
-#         SiteMap
-#         Copyright
-#         Top Icon
-#     JavaScript
-#     Analytics