---

author      : DryKISS
description : :descWhoWeAre
published   : true
title       : :titleWhoWeAre

---

-# Hero Image - Brand - Strap Line - Description
%section.what

    -# Jumbotron Block
    -# @todo Fade the text in as before
    -# @todo Look at the colour of the background on white for accessibility
    .container

        .row

            .col-md-12

                -# Heading
                = codeBlender "heading", "molecule", { text: "Who we are" }

We're energetic, collaborative, creative... and we live on the Web!

Our address is near Antwerp, Belgium, but our home is the awesomely geeky virtual
headquarters where we imagine and create interactive media for mighty corporations and smart little companies all around the world.

Fueled by enough caffeine and sugar to jet us to Jupiter, we rocket our way through your project and make great, new things happen for your business. Just ask our Clients!

We're allergic to suffocating paperwork and costly procedures and sweep all that away. Using a nice crisp, clean agile process, we dive into your project and Do It Right.

We do websites, web applications, logos and branding. That, and a whole lot more. Do we know iPhones, and iPads and really "get" what all the latest buzz is about? Bet on it.

What's more, we can translate it from geek speak for you, so you'll know just how powerful and cool your site, app, video or animation can really be.

Even better, we know how to translate your business goals into reliable, persuasive, rich user experiences.

Challenges? They rock! We have fun, we dig in, and we Get It Done.