---

meta :
    author      : "DryKISS"
    description : "DryKISS is a full service internet and mobile digital production house. Our core services span consulting, strategy; planning; development; testing and analytics. Using cutting edge technologies within disciplined processes."
    image       : "Image"
    subject     : "DryKISS"
    title       : "DryKISS develops hybrid mobile apps; responsive internet sites."
    type        : "website"

---

-# Hero Image - Brand - Strap Line - Description
%section.what

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-12

                -# Heading - H1
                = codeBlender "heading", "molecule", { text: "Site Analysis" }

                %h2
                    Site Analysis - WingSpan Sports

                %p
                    Having a site that is performant for the user will not only
                    help sales, but Google and other search engines now take use
                    this as part of their ranking algorithms.

                    All tests are run on the home page only as this is usually
                    the user's first port of call.

                %p
                    Google provide the
                    %a{ :href => "https://developers.google.com/speed/pagespeed/", :title => "Google PageSpeed" } PageSpeed
                    service

                %p
                    Yahoo provide
                    %a{ :href => "http://developer.yahoo.com/yslow/", :title => "Yahoo YSlow" } YSlow

                %p
                    The Google and Yahoo services often provide similar advice;
                    but running both and trying to up the grade is important.

                %h3
                    Google PageSpeed

                %p
                    %b
                        Page Speed Score of 34 (out of 100).

                Suggestion Summary

                %ul
                    %li
                        %b High priority.
                        Enable Keep-Alive, Enable compression

                    %li
                        %b Medium priority.
                        Leverage browser caching

                    %li
                        %b Low priority.
                        Optimise images, Minify CSS, Minify JavaScript, Defer
                        parsing of JavaScript, Avoid CSS @import, Serve scaled
                        images, Specify a cache validator, Minify HTML, Put CSS
                        in the document head, Specify a Vary: Accept-Encoding
                        header

                %h3
                    Yahoo YSlow

                %p
                    %b
                        Grade C - Overall performance score 75

                %ul
                    %li
                        This page has 7 external Javascript scripts. Try combining them into one.
                        This page has 7 external stylesheets. Try combining them into one.

                    %li
                        Use a Content Delivery Network (CDN)

                    %li
                        There are 28 static components without a far-future expiration date.

                    %li
                        There are 14 plain text components that should be sent compressed

                    %li
                        There is 1 stylesheet found in the body of the document

                    %li
                        There are 4 JavaScript scripts found in the head of the document

                    %li
                        There is a total of 4 expressions

                    %li
                        There are 6 images that are scaled down

                %h3
                    WebPage Test

                %p
                    %a{ :href => "http://www.webpagetest.org/result/130505_1G_3CK/", :title => "Web Page Test" }
                        Test Results
                    These were tested from From: London, UK - IE8 - Cable

                %p
                    %a{ :href => "http://www.webpagetest.org/result/130511_FK_5CR/", :title => "Web Page Test" }
                        Test Results
                    These were tested from From: Singapore - Chrome - Cable

                %p
                    Compare to DryKiss.com
                    %a{ :href => "http://www.webpagetest.org/result/130511_VV_5FF/", :title => "Web Page Test" }
                        Test Results
                    These were tested from From: London, UK - IE8 - Cable

                %h3
                    Page Weight

                %p
                    A smaller footprint on the home page means the user will get the infomation they require quicker.
                    If they are browsing on a mobile device then this is even more important.

                %p
                    The page has a total of 29 components and a total weight of 520.4K bytes
                %p
                    31 requests  ❘  567 KB transferred  ❘  20.64 s (onload: 20.64 s, DOMContentLoaded: 11.75 s)

                %ul
                    %li doc (1) 20.0K
                    %li js (7)  180.1K
                    %li css (7) 133.0K
                    %li cssimage (5)    12.7K
                    %li image (8)   174.8K
                    %li favicon (1) 0.1K

                %h3
                    Responsiveness

                %p
                    Mobile First is a phrase coined to explain that sites should
                    look amazing on mobile device. Having a site respond to
                    different screen resolutions and orientation is very
                    possible these days. Using CSS frameworks such as Bootstrap
                    or Foundation make this even simpler.

                %p
                    Mobile phones will resize sites to fit into the screen size - iphone 4 is 640 x 960. This is often
                    a sub-par user experience; as the text will often be unreadable.

                %p
                    Screenshots are attached showing the site on the iPhone4 and a screen of the current site and 100%
                    zoom at 640 x 960

                %h3
                    Site Map

                %p
                    Basically this is a four page website
                    Home, Shop, FAQ and Contact form

                    It should not be failing so many of the tests.

                %ul

                    %li
                        Navigation loses cursor on sub pages

                    %li
                        HOME
                        Basically re-inforces the navigation - add more test regarding products, latest news, social links

                    %li
                        Sports Pages
                        BASEBALL, SOFTBALL, SOCCER, NETBALL, SCHOOLS, ACCESSORIES
                        These follow the same tamplate - paging and fancy sort by

                    %li
                        FAQ

                    %li
                        CONTACT

                %h3
                    SEO

                %p
                    The following tests will pick up issues with SEO of the site; also in some cases code standards
                    and speed will effect this also. Fixing the following issues will have a postive effect

                %p
                    Basically matching keywords to content - keeping content updated and fresh and adding new content (blog)
                    will help with SEO and Google Ranking.

                %p
                    Home page description is - Made To Order Teamwear
                    Could be - Purchase quality and great value tailored sports teamware, baseball, netball; delivered worldwide, clients in bangkok, tokyo, brisbane

                %p
                    PowerMapper
                    %a{ :href => "http://try.powermapper.com/Reports/d6a55d7d-9caf-4851-b35b-9c3b2f72073a/report/map.htm", :title => "PowerMapper" }
                        Results

                %p
                    WooRank
                    %a{ :href => "http://bit.ly/YLQW4q", :title => "WooRank" }
                        Results

                %p
                    Google WebMaster Tools
                    Get an account here - submit the sitemap and react to the reports

                %p
                    Facebook
                    Add these metatags

                %p
                    Schema.org
                    Add these metatags

                %h3
                    Recommendations

                %ul
                    %li
                        Complete overhaul of the site - use bootstrap for automatic responsiveness
                        %a{ :href => "http://twitter.github.io/bootstrap/getting-started.html#examples"}
                            Bootstrap Examples
                        Benefits SEO with speed enhancements

                    %li
                        Move hosting company to GitHub / Amazon S3 can then utilise there CDN
                        GitHub is Free hosting - require DNS change
                        Benefits cheaper hosting - faster page speed

                    %li
                        SEO
                        Foolow advice of test sites
                        Nicer URLs help -
                        http://wingspansports.com.au/store#ecwid:category=3368733&mode=category&offset=0&sort=normal
                        Could be - http://wingspansports.com.au/teamware/schools

                    %li
                        Social - Facebook / Google Plus page - Like Buttons etc
