---

meta :
    author      : "DryKISS"
    description : "DryKISS is a full service internet and mobile digital production house. Our core services span consulting, strategy; planning; development; testing and analytics. Using cutting edge technologies within disciplined processes."
    image       : "Image"
    subject     : "DryKISS"
    title       : "DryKISS develops hybrid mobile apps; responsive internet sites."
    type        : "website"

angular :
    controller   : PortfolioController
    controllerAs : portfolio

---

-# Work section
%section.work

    -# Portfolio section
    .portfolio.portfolio__all{ itemscope: true, itemtype: "http://schema.org/Blog" }

        -# Bootstrap container
        .container

            -# Bootstrap row
            .row

                -# Bootstrap column
                .col-md-12.col-sm-12

                    -# Portfolio blockquote
                    = codeBlender "blockquote", "atom", string( :"portfolio.recent.heading" )

            -# -# Bootstrap row
            -# .row

            -#     -# Bootstrap column
            -#     .col-md-12.col-sm-12

            -#         -# Portfolio filter
            -#         .portfolio__filter

            -#             -# Create list
            -#             - list = []

            -#             -# Create the all filter
            -#             - list << { data: { filter: "all" }, extraClass: "filter", link: { url: "javascript:;" }, text: "All" }

            -#             -# Get the unique subcategories in the portfolio
            -#             - blog( 'portfolio' ).articles.select{ | r | r.data.published != false }.uniq{ | r | r.data.category }.each do | portfolio |
            -#                 - category = portfolio.data.category
            -#                 - list << { data: { filter: ".category-#{ category }" }, extraClass: "filter", link: { url: "javascript:;" }, text: category }

            -#             -# List filter
            -#             = codeBlender "list-ul", "atom", { array: list, extraClass: "nav nav-pills" }

            -# Bootstrap row
            .row.portfolio__grid

                -# Loop through the portfolio category
                -# Sorting is done by date as a default
                -# Only show those that are published
                - blog( 'portfolio' ).articles.select{ | r | r.data.published != false }.each do | portfolio |

                    -# Bootstrap column
                    .col-md-3.col-sm-3

                        -# Portfolio segment with mix
                        .portfolio__segment{ class: "category-#{ portfolio.data.category }" }

                            -# Link to portfolio
                            %a{ href: portfolio.url, title: portfolio.data.heading.title }

                                -# Image - portfolio thumbnail
                                = codeBlender "image", "atom",
                                    { alt:        portfolio.data.heading.title,
                                      caption:    portfolio.data.caption,
                                      extraClass: "img-thumbnail",
                                      src:        portfolio.data.meta.image }
