//
// Hero Section
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {
    padding-top : 50px;
}

// Hero
//----------------------------------------------------------------------------//
.hero {

    min-height : 90%;

    // Hero image
    //------------------------------------------------------------------------//
    .hero__image {
        background-image    : image-url( "sections/kiss.jpg" );
        background-repeat   : no-repeat;
        background-position : center;
        background-size     : cover;
        border-bottom       : 2px solid black;
        min-height          : 420px;
        opacity             : 1;
        width               : 100%;
    }

    // Jumbotron
    // See Variables also.
    //------------------------------------------------------------------------//
    .jumbotron {

        text-shadow : 0 2px 2px rgba( 0, 0, 0, 0.9 );

        h1, p, small {
            background-color : rgba( 240, 0, 0, 0.7 );
            border-radius    : 5px;
            padding          : 10px;
        }

        small {
            background-color : transparent;
            color            : #fff;
        }

        p {
            a {
                color : #FFF;
            }
        }

        i {
            font-size : 12px;
        }
    }
}

// Navbar
// ---------------------------------------------------------------------------//
.navbar  {

    box-shadow : 0 8px 10px -1px rgba( 0, 0, 0, 0.5 );
    font-size  : 16px;

    &.navbar-inverse {
        background-color : #222;
        border           : 0;
    }

    .navbar-header {
        a {
            &:hover, &:focus, &:visited {
                color      : #303336;
                background : rgba( 255, 255, 255, 1 );
                border     : 0;
                @include transition ( all 0.2s ease-out );
            }
        }
    }

    // Navbar Nav
    // -----------------------------------------------------------------------//
    .navbar-nav {

        > li > a {

            color   : #FFF;
            padding : 15px 30px;

            &:hover, &:focus {
                color      : #303336;
                background : rgba( 255, 255, 255, 1 );
                border     : 0;
                @include transition ( all 0.2s ease-out );
            }
        }
    }
}
