@font-face {
  font-family: 'JetBrains Mono';
  src: url('/static/fonts/jet-brains-mono/woff2/regular.woff2'),
    url('/static/fonts/jet-brains-mono/woff/regular.woff');
}

@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('/static/fonts/jet-brains-mono/woff2/bold.woff2'),
    url('/static/fonts/jet-brains-mono/woff/bold.woff');
}

@font-face {
  font-family: 'JetBrains Mono ExtraBold';
  src: url('/static/fonts/jet-brains-mono/woff2/extra-bold.woff2'),
    url('/static/fonts/jet-brains-mono/woff/extra-bold.woff');
}

@font-face {
  font-family: 'Monorama';
  src: url('/static/fonts/monorama/woff2/regular.woff2'),
    url('/static/fonts/monorama/woff2/regular.woff');
}

mark {
  background-color: #00FF00;
}
