---

meta :
    author      : "DryKISS"
    description : "DryKISS is a full service internet and mobile digital production house. Our core services span consulting, strategy; planning; development; testing and analytics. Using cutting edge technologies within disciplined processes."
    image       : "Image"
    subject     : "DryKISS"
    title       : "DryKISS develops hybrid mobile apps; responsive internet sites."
    type        : "website"

---

-# Hero Image - Brand - Strap Line - Description
%section.what

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-12

                -# Heading - H1
                = codeBlender "heading", "molecule", { pageHeader: true, text: "What we do" }

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-4

                -# Thumbnail
                .thumbnail

                    -# Caption
                    .caption

                        -# Heading - H2
                        = codeBlender "heading", "molecule", { tag: "h2", text: "Responsive development" }

                        :markdown
                            Crafting responsive, mobile first or adaptive sites
                            and applications is something DryKISS excels in.

                            Developing a mobile friendly product is not only a
                            user requirement but it also improves SEO aspects.

            -# Bootstrap column
            .col-md-4

                -# Thumbnail
                .thumbnail

                    -# Caption
                    .caption

                        -# Heading - H1
                        = codeBlender "heading", "molecule", { tag: "h2", text: "Prototyping" }

                        :markdown
                            Using CodeBlender our atomic development pattern
                            library, DryKISS can rapidly deliver any kind of
                            prototype to answer user research questions.

                            We have already delivered a TV EPG; mobile touchID
                            application; one page sites and email newsletter.

            -# Bootstrap column
            .col-md-4

                -# Thumbnail
                .thumbnail

                    -# Caption
                    .caption

                        -# Heading - H1
                        = codeBlender "heading", "molecule", { tag: "h2", text: "Hybrid mobile development" }

                        :markdown
                            Utilising the latest technologies such as Cordova or
                            PhoneGap, DryKISS can deliver cross-platform HTML5
                            and JavaScript mobile applications without hassle.