---

heading :
    small : "Thai massage"
    title : "Greentouch PI"

meta :
    author      : "Ian Warner"
    description : "Greentouch PI - Thai massage and spa"
    image       : "portfolio/greentouch/home.png"
    subject     : "Greentouch PI"
    title       : "Greentouch PI - Thai massage and spa"
    type        : "article"

category : Site
date     : 2013-01-01
caption  : "<h3>Greentouch PI</h3><p>Site, SEO and social development. Now ranked on #2 on Google.</p>"
lang     : en
modified : 2013-01-01
tags     : [ Site ]

---

-# Bootstrap container
.container

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-3

            -# Image - portfolio thumbnail
            = codeBlender "image", "atom",
                { alt:        "Greentouch PI",
                  extraClass: "img-thumbnail img-responsive",
                  src:        "portfolio/greentouch/home.png" }

        -# Bootstrap column
        .col-md-3

            -# Image - portfolio thumbnail
            = codeBlender "image", "atom",
                { alt:        "Greentouch PI",
                  extraClass: "img-thumbnail img-responsive",
                  src:        "portfolio/greentouch/service.png" }

        -# Bootstrap column
        .col-md-3

            -# Image - portfolio thumbnail
            = codeBlender "image", "atom",
                { alt:        "Greentouch PI",
                  extraClass: "img-thumbnail img-responsive",
                  src:        "portfolio/greentouch/contact.png" }

        -# Bootstrap column
        .col-md-3

            -# Image - portfolio thumbnail
            = codeBlender "image", "atom",
                { alt:        "Greentouch PI",
                  extraClass: "img-thumbnail img-responsive",
                  src:        "portfolio/greentouch/tea.png" }