-### Facebook Channel File
-# https://developers.facebook.com/docs/javascript/gettingstarted/#channel

-# Locals
-#

-# Usage
-#

-# Channel

 %script{ :src => "//connect.facebook.net/en_GB/all.js" }
